@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
.animate-wiggle {
  animation: wiggle 0.5s ease-in-out infinite;
}
